<div class="animated fadeIn">
    <div class="offset-md-1">
        <div class="row">
            <div class="col-md-3">
                <div style="background:#e0e9eb" class="card">
                    <div class="card-block">
                        <canvas id="myCanvas" width="170" height="200" style="border:1px solid #d3d3d3;"></canvas>
                        <p></p>
                        <h5 style="color:darkblue"><b>Jane Goldman</b></h5>
                        <h6>Main applicant</h6>
                        <br>
                        <h6 class="text-danger"><i class="glyphicons glyphicons-alert"></i><u>Under compliance investigation</u></h6>
                        <br>
                        <h6 class="text-danger"><i class="glyphicons glyphicons-alert"></i><u>Naderia es ut aut ea doles qui pellaborest explibus</u></h6>
                        <br>
                        <h6 class="text-danger"><i class="glyphicons glyphicons-alert"></i><u>History of violence</u></h6>
                        <br>
                        <div class="row">
                            <h6 class="pl-3">Aliases(2)</h6>
                            <div class="offset-md-5">
                                <div class="btn-group btn-group-md float-right" dropdown>
                                    <button type="button" class=" text-primary btn btn-transparent dropdown-toggle p-0" style="color:black;" dropdownToggle>
                                    Expand       
                            </button>
                                    <div class="dropdown-menu" *dropdownMenu>
                                        <a class="dropdown-item">Option 1</a>
                                        <a class="dropdown-item">Option 2</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h6><b>Nationality</b></h6>
                        <h6>British</h6>
                        <br>
                        <h6><b>Date of birth</b></h6>
                        <h6>22 Jan 1990</h6>
                        <br>
                        <h6><b>Gender</b></h6>
                        <h6>Female</h6>
                        <br>
                        <h6><b>Passport</b></h6>
                        <h6>432432488848</h6>
                        <br>
                        <h6><b>Lorem Ipsum Number</b></h6>
                        <h6>ZU1457367</h6>
                        <br>
                        <h6><b>Lorem Ipsum/kdslk fjj</b></h6>
                        <h6>51937</h6>
                        <br>
                        <h6><b>Lorem ipsum</b></h6>
                        <h6>34234324343</h6>
                        <br>
                        <h6><b>Address</b></h6>
                        <h6>Lorem ipsum</h6>
                        <br>
                        <h6><b>Telephone</b></h6>
                        <h6>-</h6>
                        <br>
                        <br>
                        <h6><b>Sponsor organisation name</b></h6>
                        <h6>Lorem ipsum sit dolor</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="pl-4">

                    <h4 style="color:black"><b>A case name and service delivery name goes here</b></h4>
                    <br>
                    <h2 style="color:darkviolet"><b>A task name goes here</b></h2>
                    <p>Last activity: J Bloggs, 27 Feb 2006 14:33</p>
                    <p></p>
                    <h4 style="color:black"><b>A page title goes in here</b></h4>
                    <br>
                    <br>
                    <div class="row">
                        <button style="color:darkblue" type="button" class="btn btn-outline-secondary"><b>Exit task</b></button>
                        <div class="offset-md-3">
                            <button style="color:darkblue" type="button" class="btn btn-secondary-color"><b>Save progress</b></button>
                            <button type="button" class="btn btn-primary"><b>Save and continue</b></button>
                        </div>
                    </div>
                </div>
                <br>
                <br>

                <div class="col-md-11">

                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <h6 class="pl-3">NOTA address</h6>
                                <div class="offset-md-3">
                                    <h6>Valid address</h6>
                                </div>
                            </div>
                            <h6>23 Trews Street</h6>
                            <h6>Edinburgh</h6>
                            <h6>EH2 3RT</h6>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <h6>UPRN address</h6>
                            <div class="row">
                                <div>
                                    <h6 class="pl-3">Address line 1</h6>
                                    <h6 class="pl-3">Address line 2</h6>
                                    <h6 class="pl-3">Address line 3</h6>
                                    <h6 class="pl-3">Edinburgh</h6>
                                    <h6 class="pl-3">EH2 3RT</h6>
                                </div>
                                <div class="offset-md-3">
                                    <h5><b>Select an address</b></h5>
                                    <label style="background:#FFCCCB" class="form-control-label" for="select">                      
                    <b>You must select an address or 'Address not listed'</b>                      
                    </label>
                                    <select id="select" name="select" class="form-control">
                                <option value="0">Select valid address...</option>                           
                                <option value="0" selected>4, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                                <option value="1">5, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                                <option value="2">6, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                                <option value="3">7, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                                <option value="0">Address not listed</option>
                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <h6>NONE Address</h6>
                            <div class="row">
                                <div>
                                    <h6 class="pl-3">Address line 1</h6>
                                    <h6 class="pl-3">Address line 2</h6>
                                    <h6 class="pl-3">Address line 3</h6>
                                    <h6 class="pl-3">Edinburgh</h6>
                                    <h6 class="pl-3">EH2 3RT</h6>
                                </div>
                                <div class="offset-md-3">
                                    <h5><b>Select an address</b></h5>
                                    <select id="select" name="select" class="form-control">
                                    <option value="0">Select valid address...</option>                           
                                    <option value="0">4, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                                    <option value="1">5, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                                    <option value="2">6, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                                    <option value="3">7, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                                    <option value="0" selected>Address not listed</option>
                        </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <h6>NULL Address</h6>
                            <div class="row">
                                <div>
                                    <h6 class="pl-3">Address line 1</h6>
                                    <h6 class="pl-3">Address line 2</h6>
                                    <h6 class="pl-3">Address line 3</h6>
                                    <h6 class="pl-3">Edinburgh</h6>
                                    <h6 class="pl-3">EH2 3RT</h6>
                                </div>
                                <div class="offset-md-3">
                                    <h5><b>Select an address</b></h5>
                                    <select id="select" name="select" class="form-control">
                                        <option value="0" selected>Select valid address...</option>                           
                                        <option value="0">4, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                                        <option value="1">5, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                                        <option value="2">6, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                                        <option value="3">7, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                                        <option value="0">Address not listed</option>
                            </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <h6>Not selected yet</h6>
                            <div class="row">
                                <div>
                                    <h6 class="pl-3">Address line 1</h6>
                                    <h6 class="pl-3">Address line 2</h6>
                                    <h6 class="pl-3">23 Trews Street</h6>
                                    <h6 class="pl-3">Edinburgh</h6>
                                    <h6 class="pl-3">EH2 3RT</h6>
                                </div>
                                <div class="offset-md-3">
                                    <h5><b>Select an address</b></h5>
                                    <select id="select" name="select" class="form-control">
                        <option value="0" selected>Select valid address...</option>                           
                        <option value="0">4, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                        <option value="1">5, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                        <option value="2">6, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                        <option value="3">7, LUKIN DRIVE, NURSLING, SOUTHAMPTON</option>
                        <option value="0">Address not listed</option>
                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="pl-3">
                            <button style="color:darkblue" type="button" class="btn btn-outline-secondary"><b>Exit task</b></button>
                        </div>
                        <div class="offset-md-3">
                            <button style="color:darkblue" type="button" class="btn btn-secondary-color"><b>Save progress</b></button>
                            <button type="button" class="btn btn-primary"><b>Save and continue</b></button>
                        </div>

                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>